.border {
    
    border-style: solid;
    background-color: brown;
    width: 100%;
}


.center {
    color: white;
    margin: 0;
    text-align: center;
font-family: sans-serif; }

.minitextborder {
    border-style: solid;
    background-color: crimson;

}
.backgroundgradient
{
    background-color: #ff9966;
    background-image: linear-gradient(#ff9966,#ff5e62);
}
@media (max-width: 600px) {
    .flex-container {
      flex-direction: column; 
    }
}
.week-list {
    list-style: none; 
    display: flex; 
    justify-content: space-around; 
    padding: 0; 
  }
  
  .week-list-item {
    font-family: sans-serif;
    background-color: #e74c3c;  
    color: #fff; 
    padding: 10px 1px; 
    border-radius: 5px; 
    margin: 0; 
    text-align: center;
    width: 10%;
    
  }
  li {
    font-size: large;
    font-weight: bold;

  }
  

  .week-list-item:hover {
    background-color: #c0392b; 
    transform: scale(1.1);
    
  }
  a {
    text-decoration: none;
    color: whitesmoke
  }
  img {
    width: 10%;
  }
  /* Dropdown */
  .dropdown {
    margin: 0;
    text-align: center;
    font-size: 30px;
    position: relative;
    display: inline-block;
   
}
.dropdown select {
font-size: 20px;
padding: 10px;
border: none;
background-color: #ec2b2b; /* Pink background color */
color: white;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
cursor: pointer;
font-family: sans-serif;
font-weight: bold;
}

.dropdown::before {
font-size: 20px;
color: white;
}

#categoryContent {
    margin-top: 30px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}